**/input.json
.idea/
OUTPUT_*/
OUTPUT.json
.python-version
.pytest_cache
__pycache__/
*.pyc
*.swp
*.xml
.Rproj.user
.vscode/

# Ignore all input data files to be downloaded or created by user
data/private_input_data/
data/POPULATION/
data/MOBILITY/
data/BRFSS/
data/NSCH/
data/HIGH_RISK/
data/SVI/
data/PLACES/
data/VACCINATION/
figures/

# ignore output files
US_States/
